<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Home', root_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Collections</li>
  </ol>
</nav>

<table class="table">
  <thead>
    <th>External ID</th>
    <th>Title</th>
  </thead>
  <tbody>
    <% @collections.each do |col| %>
      <tr>
        <td><%= col.external_id %></td>
        <td><%= link_to col.title, col %></td>
      </tr>
    <% end %>
  </tbody>
</table>
