%table.table
  %thead
    %th= t('title_label')
    %th Repository
  %tbody
    - @virtual_repositories.each do |virtual_repository|
      %tr
        %td= link_to(virtual_repository.title, virtual_repository)
        %td= link_to(virtual_repository.repository.title, virtual_repository.repository)