= render 'single_layout' do
  = link_to 'Delete Virtual Repository', virtual_repository_path(@virtual_repository), method: :delete, 'data-confirm': 'Are you sure? This cannot be undone.', class: 'btn btn-danger float-right', 'aria-role': :button
  %br
  = render 'form'